*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image{
    max-width: 1600px;
    margin:auto;
    width: 100%;
    height:720px;
    background-size: cover;
 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    z-index: 1;
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(1px);
    width: 500px;
    height: 610px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
   color: white;
  
}
.name{
    padding: 0px 20px;
    padding-top: 20px;
    margin: 20px;
    color: white;
}
.card p{
    padding: 0px 20px;
    margin: 20px;
  
    font-size: 20px;
    color: white;
}
#output{
    font-family: 'Pacifico', cursive;
    color: lightcoral;
}
.footer{
    position: relative;
    left: 40%;
    display: inline-block;
    align-items: center;
    word-wrap: break-word;
   overflow: hidden;
   font-family: 'Raleway', sans-serif;
   
   font-weight: bolder;
}
.footer h3{
    position: relative;
    font-size: 20px;
    left: 10%;
    
}
.footer p{
    position: relative;
    top: -10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}
.sub{
    position: relative;
    left:40px;
}
#out{
    color: lightcoral;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: bolder;
}
@media only screen and (max-width:600px){
    .card{
        z-index: 1;
        background-color: rgb(0,0,0,0.7);
        backdrop-filter: blur(1px);
        width: 400px;
        height: 500px;
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
       color: white;
      
    } 
    .image{
        max-width: 1500px;
        margin:auto;
        width: 100%;
        max-height: 720px;
     
    }
    .card p{
        font-size: 15px;
    }
   
}
@media only screen and (max-width:400px){
    .card{
        width: 350px;
        height: 590px;
        position: absolute;

    }
    .footer{
        left: 40%;
        
    }
}
@media only screen and (max-width:350px){
    .image{
        max-width: 1500px;
    }
    .card{
        width: 320px;
        height: 540px;
        position: absolute;

       
    }
    .footer{
        left: 40%;
        
    }
}

